ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.headerMenu{
    background-color: white;
    padding: 10px;
    width: 100%;
}
li{
    padding-right: 14px;
    text-decoration: none;
}
li:hover{
    color: #464a47;
    cursor: pointer;
}

.dropDown {
    position: relative;
    display: inline-block;
}
.dropDown a{
    text-decoration: none;
    color: black;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 180px;
    overflow: scroll;
}

.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: start;
    display: block;
}

.dropDownContent a:hover {background-color: #ddd;}

.dropDown:hover .dropDownContent {display: block;}