.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 12px;


    background-image: url("../../../img/bckgrnd.jpg");
    min-height: 500px;

}

.wrapperProd{
    border: 2px solid rgb(149, 147, 147);
    border-radius:10px;
    margin: 6px;
    padding-bottom: 3px;
    max-height: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: white;
    background-color:rgba(0,0,0,0.5);
}
.wrapperProd button{
    border: 2px solid transparent;
    background-color: rgba(102, 78, 1, 0.8);
    width: 100px;
    color: white;
    border-radius: 12px;
    margin-bottom: 18px;
}

.wrapperProd button:hover{
    background: transparent;
    color: white;
    border-color: rgba(102, 78, 1, 0.8);
}