.mapContainer{
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-left: 40px;
}

.cartContainer{
    display: flex;
    padding-right: 12px;
    margin-bottom: 30px;
    border: solid rgb(133, 132, 132);
    border-radius: 8px; 
    margin-left: 20px;
    float: left
}

h2, .amount{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.amount{
    display: flex;
    justify-content: center;
    align-items: center;

}

.quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoCart{
    margin: 46px;
    flex:5
}

.btn {
    margin: 10px;
}

.cartPage{
    display: flex;
    flex-direction: row;

}
.cartWrapper{
    display: flex;
    flex-direction: column;
}

.btnContainer{
    margin-top: 10px;
    padding-right: 10px;
}

.btnContainer button{
    margin-right: 10px;
}

.cartBtn{
    border: 2px solid transparent;
    background-color: rgba(157, 122, 5, 0.8);
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 12px;
    margin-bottom: 18px;
}

.cartBtn:hover{
    background: transparent;
    color: black;
    border-color: rgba(157, 122, 5, 0.8);
}

.cart{
    display: flex;
    justify-content: space-between;
}
.price{
    margin: 70px;
}