.headerWrapper{
    background-color: #fec60a;
    min-width: 100%;

}

.headerContent{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.headerContent a{
    text-decoration: none;
}

.headerTitle{
    margin-left: 28px;
    color: black;
}

.cartIcon{
    margin-top: 28px;
    margin-right: 48px;
    color: black;
}